*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Gilmer Heavy';
    src: url('assets/fonts/Gilmer\ Heavy.otf');
}

@font-face {
    font-family: 'Gilmer Regular';
    src: url('assets/fonts/Gilmer\ Regular.otf');
}
@font-face {
    font-family: 'Gilmer Bold';
    src: url('assets/fonts/Gilmer\ Bold.otf');
}
.main-container{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    margin: 0 auto;
    /* margin-top: 10%; */
    background-color: #000;
    /* width: 30%; */
    height: 100vh;
    color: aliceblue;
}
.heading{
    margin-top: 10%;
    font-family: 'Gilmer Heavy';
    font-style: normal;
    font-weight: 800;
    font-size: 2.5rem;
    line-height: 90px;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 5px 3px 4px rgba(77, 213, 99, 0.76);
}
.text-content{
    margin-top: 10px;
    width: 55%;
    font-family: 'Gilmer Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 30px;
    text-align: center;
    color: #FFFFFF;
}
.game-container{
    position: relative;
    margin-top: 5%;
    /* background-color: aqua; */
    max-width: 600px;
    height: 250px;
    padding-left: 60px;
    padding-right: 10px;
}
.circle{
    width: 40px;
    height: 40px;
    display: inline-block;
    /* background-color: #FFFFFF; */
    background: linear-gradient(292.53deg, #FF6767 31.56%, rgba(255, 129, 129, 0.75) 97.92%);
    border-radius: 100px;
    box-shadow: 0px 0px 30px  #FF6767;
    /* transform: rotate(90deg); */
}
.line{
    position:relative;
    top:-7%;
    left: -1%;
    display: inline-block;
    background: #91E384;
    width: 80px;
    height: 3px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 0px;
    transform: matrix(1, 0, 0, -1, 0, 0);
}
.circle img{
    position: relative;
    width: 40px;
    height: 40px;
    /* left: 0;
    top:0;
    transform: translate(-50%, -50%); */
}
.circle-2{
    width: 100px;
    height: 100px;
    position: relative;
    top:10%;
    left: -2%;
    background: linear-gradient(292.53deg, #7D67FF 31.56%, rgba(147, 129, 255, 0.75) 97.92%);
    box-shadow: 0px 0px 30px  #7D67FF;
    border-radius: 100px;
}
.circle-2 img{
    width: 40px;
    height: 50px;
    position: absolute;
    top:0;
    left: 0;
    transform: translate(75%,50%);
}
.arrow-1{
    z-index: 1;
    width: 10px;
    position: relative;
    top:-5%;
    left: -3%;
}
.line-2{
    width: 50px;
    left: -6%;
}
.circle-3{
    position: relative;
    left: -7%;
}
.circle-3 img{
    width: 15px;
    position: absolute;
    top:0;
    left: 0;
    transform: translate(80%,0%);
}
/* .line-3{
    width: 75px;
    height: 140px;
    position:relative;
    background-color: transparent;
    border: 3px solid #91E384;
    box-shadow: 8px 0px 10px#91E384;
    border-left: none;
    top:48%;
    left: -8%;
} */
.line-3{
    padding: 0;
    width: 181px;
    height: 3px;
    position:relative;
    background-color: #91E384;
    /* border: 3px solid #91E384;
    box-shadow: 8px 0px 10px#91E384;
    border-left: none; */
    /* top:48%; */
    left: -8%;
}
.vertical-line{
    position: relative;
    top:-23px;
    left: -42px;
    background-color:#91E384;
    width: 3px; 
    height: 153px;
    float: right;
}
.down{
    margin-top: 15%;
    position: relative;
    /* background-color: aqua; */
}
.circle-4{
    z-index: 1;
    position: relative;
    top:0;
    left: 0;
    transform: translate(8%,65%);
}
.circle-4 img{
    position: absolute;
    width: 26px;
    height: 26px;
    top:0;
    left: 0;
    z-index: 10;
    transform: translate(25%,25%);
}
.circle-5{
    z-index: 1;
    position: relative;
    top:0;
    left: -12px;
    transform: translate(-26%,68%);
}
.circle-5 img{
    /* transform-origin: center; */
    position: absolute;
    width: 40px;
    height: 35px;
    top:0;
    left: 0;
    z-index: 10;
    transform: translate(0,40%);
}
.line-4{
    width: 120px;
    position: relative;
    top: 10px;
    left: -1%;
}
.line-5{
    width: 297px;
    position: absolute;
    top:110%;
    left: 35%;
}
.vline-1{
    position: relative;
    top:-48px;
    left:167px;
    float: left;
    height: 80px;
}
.arrow-2{
    z-index: 1;
    width: 15px;
    position:absolute;
    top:-50px;
    left: 161px;
}
.glow{
    /* background-color: aqua; */
    box-shadow: 0px 0px 10px 2px #91E384;
}
.three-pipe{
    transform-origin: center;
}

.congrats-container{
    margin-top: 15%;
}
.congrats-title{
    font-family: 'Gilmer Heavy';
    font-style: normal;
    font-weight: 800;
    font-size: 2.5rem;
    line-height: 90px;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 5px 3px 4px rgba(77, 213, 99, 0.76);
}
.gift{
    margin: 0 auto;
    margin-top: 2%;
    display: flex;
    width: 150px;
    height: 150px;
    background: linear-gradient(292.53deg, #7D67FF 31.56%, rgba(147, 129, 255, 0.75) 97.92%);
    box-shadow: 0px 0px 30px  #7D67FF;
    border-radius: 100px;
    justify-content: center;
    align-items: center;
}

.coupon-text{
    margin: 0 auto;
    margin-top: 20px;
    width: 80%;
    font-family: 'Gilmer Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;
    line-height: 45px;
    text-align: center;
    color: #FFFFFF;
}

.gift img{
    width: 70px;
    height: 70px;
}
button{
    width: 50%;
    /* height: 97px; */
    margin: 0 auto;
    margin-top: 25px;
    background: #91E384;
    border-radius: 70px;
    font-family: 'Gilmer Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 53px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;

    color: #000000;
}